
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width:100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(106, 106, 199);
}

.cursor{
    height: 40px;
    width: 40px;
    background-color: #111;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transform: all linear 0.1s;
}



/*card 1 starts here */
.card{
    height: 350px;
    width: 300px;
    background-color: #8d6885;;
    border-radius: 10px;
    position: absolute;
    margin-right: 72%;
    padding: 30px;
    text-align: center;

}

.card .image1{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.card .image2{
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: left;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all linear 0.3s;
}

.card h1{
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    position: relative;
    z-index: 9;
}

.card h5{
    font-size: 25px;
    color: red;
    margin: 20px;
    position: relative;
    z-index: 9;
}

.card button{
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 12px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
    position: relative;
    z-index: 9;

}

/* card 1 ends here */





/* card2 starts here */
.card2{

    height: 350px;
    width: 300px;
    background-color: #89806a;
    border-radius: 10px;
    position: absolute;
    margin-left: 70%;
    padding: 30px;
    text-align: center;

}

.card2 .image3{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.card2 .image4{
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all linear 0.3s;
}


.card2 h1{
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    position: relative;
    z-index: 9;
}

.card2 h5{
    font-size: 25px;
    color: red;
    margin: 20px;
    position: relative;
    z-index: 9;
}

.card2 button{
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 12px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
    position: relative;
    z-index: 9;
}

/* card2 ends here */

/* container starts here */

.container{
    height: 500px;
    width: 300px;
    background-color: rgb(229, 138, 138);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.container #heart{
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;
}

.container #love{
    color: #fff;
}



/* container ends here */


/* container 2 starts here */


.container2{
    height: 500px;
    width: 300px;
    background-color: rgb(229, 138, 138);
    border-radius: 10px;
   position: absolute;
    overflow: hidden;
    top: 95%;
}

.container2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.container2 #heart2{
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;
}







/* container 2 ends here */

/* container 3 starts here */

.container3{
    height: 500px;
    width: 300px;
    background-color: rgb(229, 138, 138);
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    top: 172%;
}


.container3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.container3 #heart3{
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;
}

/* container 3 ends here */

/* story feat starts here */

#card1{
    height: 630px;
    width: 303px;
    background-color: transparent;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    top: 1.5%;
    
}

#storiyan{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
}

#storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    border: 3px solid red;
    height: 90px;
    border-radius: 50%;
    width: 90px;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#full-screen{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center ;
   
}

/* story feat ends here